body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #FFF6F8;
  color: #1A001C;
}

.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  background-color: #750D37;
  color: #FFF6F8;
  padding-top: 20px;
}

.sidebar a {
  color: #FFF6F8;
  text-decoration: none;
  display: block;
  padding: 12px;
  font-weight: bold;
}

.sidebar a:hover {
  background-color: rgb(99, 6, 43);

}

.content {
  margin-left: 260px;
  padding: 20px;
}

.card-kpi {
  min-height: 120px;
  background-color: #FFF6F8;
  color: #1A001C;
  border: 1px solid #750D37;
}

.card-header {
  font-weight: bold;
  background-color: #750D37;
  color: #FFF6F8;
}

.btn-primary,
.btn-success {
  background-color: #6CE0B6 !important;
  border: none;
  color: #1A001C;
  font-weight: bold;
}

.btn-info,
.btn-secondary {
  background-color: #5CC7ED !important;
  border: none;
  color: #1A001C;
  font-weight: bold;
}

.list-group-item {
  background-color: #FFF6F8;
  color: #1A001C;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #F3E6ED;
}

.table-striped>tbody>tr:nth-of-type(even) {
  background-color: #FFF6F8;
}

.table th,
.table td {
  color: #1A001C;
}

.card {
  border: 1px solid #750D37;
}

.c-success {
  color: #3AB789;
  font-weight: bold;
}

.main-content {
  margin-left: 260px;
  padding: 40px 30px 30px 30px;
  min-height: 100vh;
  background: #FFF6F8;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #750D37;

}